In [1]:
#OPTIONAL: uncomment to install packages if necessary

# %pip install pandas
# %pip install scikit-learn

Preprocessing the dataset

In [2]:
import pandas as pd

df = pd.read_csv("crypto.csv")

df.head()

,OpenDt,CRVUSDT-open,CRVUSDT-high,CRVUSDT-low,CRVUSDT-close,CRVUSDT-volume,ZILUSDT-open,ZILUSDT-high,ZILUSDT-low,ZILUSDT-close,...,EGLDUSDT-open,EGLDUSDT-high,EGLDUSDT-low,EGLDUSDT-close,EGLDUSDT-volume,LTCUSDT-open,LTCUSDT-high,LTCUSDT-low,LTCUSDT-close,LTCUSDT-volume
0,2020-09-04 06:00:00,2.962,2.975,2.800,2.814,233206.032,0.01617,0.01630,0.01588,0.01592,...,17.524,17.563,17.000,17.027,13078.587,48.77,48.77,48.20,48.21,23686.98714
1,2020-09-04 07:00:00,2.812,2.933,2.797,2.919,422883.332,0.01594,0.01599,0.01501,0.01591,...,17.029,17.900,16.710,17.129,24945.703,48.20,48.93,47.37,48.83,46079.69323
2,2020-09-04 08:00:00,2.919,3.237,2.915,3.171,599623.833,0.01592,0.01654,0.01588,0.01635,...,17.133,17.344,17.102,17.277,7945.829,48.78,49.92,48.75,49.67,73098.31532
3,2020-09-04 09:00:00,3.171,3.294,3.100,3.282,392916.735,0.01638,0.01689,0.01621,0.01684,...,17.277,17.277,16.918,17.121,15481.387,49.68,51.54,49.34,51.45,73369.67310
4,2020-09-04 10:00:00,3.272,3.278,3.150,3.157,374373.881,0.01683,0.01717,0.01672,0.01703,...,17.133,17.750,17.100,17.342,19422.335,51.42,52.38,51.00,51.42,81565.19476

In [3]:
# do not run this more than once without resetting kernel
def rename_cols(name):
    divider = name.index('-')
    return name[divider+1:] + "-" + name[:divider-4]

rename_map = {col: rename_cols(col) for col in df.columns[1:]}

rename_map["OpenDt"] = "datetime"

df.rename(columns=rename_map, inplace=True)

df["datetime"] = pd.to_datetime(df["datetime"])

df.head()

,datetime,open-CRV,high-CRV,low-CRV,close-CRV,volume-CRV,open-ZIL,high-ZIL,low-ZIL,close-ZIL,...,open-EGLD,high-EGLD,low-EGLD,close-EGLD,volume-EGLD,open-LTC,high-LTC,low-LTC,close-LTC,volume-LTC
0,2020-09-04 06:00:00,2.962,2.975,2.800,2.814,233206.032,0.01617,0.01630,0.01588,0.01592,...,17.524,17.563,17.000,17.027,13078.587,48.77,48.77,48.20,48.21,23686.98714
1,2020-09-04 07:00:00,2.812,2.933,2.797,2.919,422883.332,0.01594,0.01599,0.01501,0.01591,...,17.029,17.900,16.710,17.129,24945.703,48.20,48.93,47.37,48.83,46079.69323
2,2020-09-04 08:00:00,2.919,3.237,2.915,3.171,599623.833,0.01592,0.01654,0.01588,0.01635,...,17.133,17.344,17.102,17.277,7945.829,48.78,49.92,48.75,49.67,73098.31532
3,2020-09-04 09:00:00,3.171,3.294,3.100,3.282,392916.735,0.01638,0.01689,0.01621,0.01684,...,17.277,17.277,16.918,17.121,15481.387,49.68,51.54,49.34,51.45,73369.67310
4,2020-09-04 10:00:00,3.272,3.278,3.150,3.157,374373.881,0.01683,0.01717,0.01672,0.01703,...,17.133,17.750,17.100,17.342,19422.335,51.42,52.38,51.00,51.42,81565.19476

In [4]:
long = (
    pd.wide_to_long(
        df,
        stubnames=["open", "high", "low", "close", "volume"],
        i="datetime",
        j="symbol",
        sep="-",
        suffix=".+",
    )
    .reset_index()
)
long.head()

             datetime symbol   open   high    low  close      volume
0 2020-09-04 06:00:00    CRV  2.962  2.975  2.800  2.814  233206.032
1 2020-09-04 07:00:00    CRV  2.812  2.933  2.797  2.919  422883.332
2 2020-09-04 08:00:00    CRV  2.919  3.237  2.915  3.171  599623.833
3 2020-09-04 09:00:00    CRV  3.171  3.294  3.100  3.282  392916.735
4 2020-09-04 10:00:00    CRV  3.272  3.278  3.150  3.157  374373.881